html{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
body{
	margin: 0;
	padding: 0;
}
/* width */
::-webkit-scrollbar {
	width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px #C15050; 
}


/* Handle */
::-webkit-scrollbar-thumb {
	background: #6E7C7C; 
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #6E7C7C; 
}
#loading {
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #fff url('images/loader.gif') no-repeat center center;
	z-index: 9999;
}
@media only screen and (max-width: 600px){
	.hamburger .line{
		width: 35px;
		height: 4px;
		background-color: black;
		display: block;
		margin: 8px auto;
		-webkit-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	.hamburger:hover{
		cursor: pointer;
	}
	#hamburger-1.is-active .line:nth-child(2){
		opacity: 0;
	}
	#hamburger-1.is-active .line:nth-child(1){
		-webkit-transform: translateY(13px) rotate(45deg);
		-ms-transform: translateY(13px) rotate(45deg);
		-o-transform: translateY(13px) rotate(45deg);
		transform: translateY(13px) rotate(45deg);
	}
	#hamburger-1.is-active .line:nth-child(3){
		-webkit-transform: translateY(-13px) rotate(-45deg);
		-ms-transform: translateY(-13px) rotate(-45deg);
		-o-transform: translateY(-13px) rotate(-45deg);
		transform: translateY(-13px) rotate(-45deg);
	}
	.navbar{
		margin: 15px -10px 15px -10px;
	}
	.navbar .navbar-nav{
		float: right;
		text-align: right;
	}
	.navbar #collapsibleNavbar{
		/*display: inline-flex;*/
		flex-direction: row-reverse;
	}
	.navbar .nav-item{
		padding:5px;
		font-family: 'Ubuntu', sans-serif;
		font-weight: bolder;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 14px;
	}
	.navbar .nav-link{
		text-decoration: none;
		color: black;
	}
	.navbar .nav-link:hover{
		transition: 0.5s ease-in-out;
		color: #2541B2;

	}
	.navbar-brand img{
		width: 50px;
		margin-left: 20px;
		transform: scale(2);

	}
	.navbar #GetStartedBtn{

		height: 40px;
		width: 140px;
		border: none;
		font-size: 12px;
		border-radius: 25px;
		background-color: #2541B2;
		font-family: 'Ubuntu', sans-serif;
		font-weight: bolder;
		text-transform: uppercase;
		color: white;
		letter-spacing: 1px;
		cursor: pointer;
	}
	.navbar #GetStartedBtn:hover{
		transition: 0.5s ease-in-out;
		background-color: #2940D3;
	}
	.DropDownList{
		background-color: #E1F1DD;
		border-radius: 10px;
		box-shadow: 4px 1px 11px 0px rgba(0,0,0,0.75);
	}
	.DropDownList ul{
		padding: 10px;
		overflow: hidden;
		list-style-type: none;
	}
	.DropDownList ul li{
		padding: 5px;
		cursor: pointer;
	}
	.DropDownList ul li:hover{
		transition: 0.5s ease-in-out;
		background-color: #0F52BA;
		color: white;
		border-radius: 10px 0px 10px 0px;
	}
	.DropDownList .media img{
		margin: 5px;
	}
	.DropDownList a{
		text-decoration: none;
		color: black;
		font-family: 'Ubuntu', sans-serif;
		font-weight: bolder;
	}
	.DropDownList a:hover{
		transition: 0.5s ease-in-out;
		color: #0F52BA;
	}
	.navbar .DropDownList h5{
		font-size: 10px;
		font-weight: bolder;
		font-family: 'Ubuntu', sans-serif;
	}


	#FirstSection{
		margin-top: 40px;
		min-height: 300px;
		overflow: hidden;	
	}

	#FirstSection h1{
		font-weight: bolder;
		font-size: 35px;
		font-family: 'Josefin Sans', sans-serif;;
	}

	#FirstSection p{
		font-size: 17px;
		font-family: 'Ubuntu', sans-serif;
		color: #6E7C7C;	
	}

	#FirstSection #sideImage{
		margin-top: 60px;
		width: 300px;
		margin-left: 20px;
	}
	#FirstSection button{
		height: 30px;
		width: 100px;
		border: none;
		font-size: 10px;
		border-radius: 15px;
		background-color: #2541B2;
		font-family: 'Ubuntu', sans-serif;
		font-weight: bolder;
		text-transform: uppercase;
		color: white;
		letter-spacing: 1px;
		cursor: pointer;
	}
	#FirstSection button:hover{
		transition: 0.5s ease-in-out;
		background-color: #2940D3;
	}
	#ScrollIcon{
		text-align: center;
	}
	#ScrollIcon img{
		margin-top: 40px;
		width: 40px;
	}
	#ScrollIcon span{
		font-family: 'Ubuntu', sans-serif;
		font-size: 10px;
		color: #6E7C7C;	
		animation: 5s ScrollLink ease-out infinite;
	}
	#ScrollIcon a{
		text-decoration: none;
	}
	@keyframes ScrollLink{
		0%{
			letter-spacing: 1px;
		}
		25%{
			letter-spacing: 1.5px;
		}
		50%{
			letter-spacing: 0px;
		}
		75%{
			letter-spacing: 1px;
		}
		100%{
			letter-spacing: 1.5px;
		}

	}
	#SectionTwo{
		margin-top: 30px;
		padding-top: 30px;
		min-height: 370px;
		color: white;
		background-color: black;
	}

	#SectionTwo .row{
		margin-top: 20px;
		padding: 5px;
	}
	#SectionTwo p a{
		text-decoration: none;
		color: white;
		font-family: 'Ubuntu', sans-serif;
	}
	#SectionTwo p a:hover{
		transition: 1s ease-in-out;
		border-bottom: 2px dotted;
		letter-spacing: 2px;
	}
	#SectionTwo h1{
		font-size: 35px;
		font-weight: bolders;
		font-family: 'Josefin Sans', sans-serif;
	}
	#SectionTwo h6{
		font-size: 10px;
		font-family: 'Ubuntu', sans-serif;
	}
	#SectionTwo .brand-list{
		margin-top: -20px;
		display: flex;
		text-align: center;
	}
	#SectionTwo .brand-list img{
		width: 100px;
	}
	#SectionTwo .brand-list .col-md{
		margin-top: 10px;
		padding: 5px;
	}

	#SectionThree{
		min-height: 370px;
		padding: 40px 10px 10px 10px;
		background-color: #DFEEEA;
	}
	#SectionThree h1{
		font-size: 25px;
		font-family: 'Josefin Sans', sans-serif;
	}
	kbd{
		background-color: black;
		color: white;
		padding: 5px;
		border-radius: 1px;
	}
	#SectionThree p{
		margin-top: 20px;
		padding: 5px;
		line-height: 20px;
		font-size: 14px;
		font-family: 'Ubuntu', sans-serif;
		color: #334443;
		text-align: justify;
	}
	#SectionThree a{
		text-decoration: none;
		text-transform: uppercase;
		font-size: 10px;
		font-weight: bolder;
		border-bottom:solid;
		color: black;
		font-family: 'Ubuntu', sans-serif;
	}
	#SectionThree a:hover{
		transition: 1s ease-in-out;
		color: #2541B2;
	}
	#FourthSection{
		padding: 40px 10px 50px 10px;
		min-height: 650px;
	}
	#FourthSection h6{
		font-family: 'Ubuntu', sans-serif;	
		font-size: 12px;
		font-weight: bolder;
		color: #6E7C7C;	
	}

	#FourthSection h1{
		font-family: 'Josefin Sans', sans-serif;
		font-size: 35px;
		overflow: hidden;
	}
	#FourthSection #ServiceInformation{
		margin-top: 30px;
	}

	#FourthSection img{
		margin-left: 30px;
		width: 250px;
		padding: 10px;
	}
	#FourthSection ul{
		padding: 5px;
		list-style-type: none;
	}
	#FourthSection ul li{
		margin-top: 15px;
	}
	#FourthSection ul h4{
		font-family: 'Ubuntu', sans-serif;
		font-size: 16px;
		font-weight: bolder;
		cursor: pointer;
	}
	#FourthSection p{
		font-family: 'Ubuntu', sans-serif;
		color: #6E7C7C;	
		font-size: 14px;
	}
	#FourthSection p a{
		text-decoration: none;
		text-transform: uppercase;
		font-family: 'Ubuntu', sans-serif;
		font-weight: bolder;
		color: black;
		border-bottom: 1px solid;
	}
	#FourthSection p a:hover{
		transition: 1s ease-in-out;
		color: #2541B2;
		letter-spacing: 0.5px;
	}
	#FifthSection{
		padding: 60px 10px 60px 10px;
		background-color: #185ADB;
	}
	#FifthSection h1{
		color: white;
		font-size: 35px;
		font-family: 'Josefin Sans', sans-serif;
		font-weight: bolder;

	}
	#FifthSection button{
		margin-top: 20px;
		min-width: 120px;
		min-height: 40px;
		padding: 10px;
		font-family: 'Ubuntu', sans-serif;
		text-transform: uppercase;
		font-weight: bolder;
		letter-spacing: 1px;
		font-size: 12px;
		background-color: white;
		border: none;
		border-radius: 45px;
		box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
		transition: all 0.3s ease 0s;
		cursor: pointer;
		outline: none;
	}
	#FifthSection button:hover{
		background-color: #2EE59D;
		box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
		color: #fff;
		transform: translateY(-7px);	
	}
	#FifthSection span{
		background-color: white;
		color: #185ADB;
		padding: 5px;
	}

	#SixthSection{
		padding:60px 10px 60px 10px;	
	}
	#SixthSection h6{
		font-family: 'Ubuntu', sans-serif;
		font-weight: bolder;
		color: #6E7C7C;	
		font-size: 12px;
	}
	#SixthSection h1{
		font-family: 'Josefin Sans', sans-serif;
		font-weight: bolder;	
		font-size: 35px;
	}
	#SixthSection span{
		background-color: black;
		color: white;
		padding: 5px;
	}
	#SixthSection .information{
		margin-bottom: 60px;
	}
	#SixthSection .card-img-top{
		width:auto;
		height: 300px;
	}
	#SixthSection .card{
		margin-top: 10px;
		overflow: hidden;
	}
	#SixthSection .card-body{
		padding: 10px;
	}
	#SixthSection .card-title{
		font-weight: bold;
		font-size: 15px;
		font-family: 'Josefin Sans', sans-serif;
	}
	#SixthSection .card-text{
		font-size: 12px;
		font-weight: bolder;
		font-family: 'Ubuntu', sans-serif;
		color: #6E7C7C;	
	}
	#SixthSection a{
		text-decoration: none;
		color: black;
	}
	#SixthSection .row{
		margin-top: 20px;
	}
	#SixthSection #ProjectListLink {
		font-weight: bolder;
		font-family: 'Ubuntu', sans-serif;
		color: #334443;	
		font-size: 13px;
	}
	#ProjectListLink:hover{
		transition: 1s ease-in-out;
		letter-spacing: 1px;
		line-height: 20px;
		font-size: 14px;
		text-decoration: underline;
	}

	#SeventhSection{
		padding: 40px 10px 40px 10px;
	}
	#SeventhSection .Title-row{
		margin: 0px 0px 10px 10px;
	}
	#SeventhSection .Title-row h6{
		font-weight: bolder;
		font-family: 'Ubuntu', sans-serif;
		color: #6E7C7C;	
		font-size: 12px;
	}
	#SeventhSection .Title-row h1{
		font-weight: bolder;
		font-size: 35;
		font-family: 'Josefin Sans', sans-serif;
	}
	#SeventhSection .Title-row span{
		background-color: black;
		color: white;
		padding: 5px;
	}
	#SeventhSection .media{
		margin: 5px;
	}
	#SeventhSection .media img{
		margin: 5px;
		width: 100px;
		padding: 5px;
		border-radius: 15px 0px 0px 15px;
	}
	#SeventhSection .media-body{
		margin-top: 10px;
	}
	#SeventhSection .media p{
		font-family: 'Ubuntu', sans-serif;
		color: #6E7C7C;	
		font-weight: bold;
		margin-bottom:5px;
		font-size: 12px;
	}
	#SeventhSection .media h6{
		font-weight: bolder;
		font-size: 14px;
		font-family: 'Josefin Sans', sans-serif;
	}
	#SeventhSection .media a{
		text-decoration: none;
		color: black;
		font-family: 'Ubuntu', sans-serif;
		font-size: 12px;
		color: #6E7C7C;	

	}
	#SeventhSection .media a:hover{
		transition: 0.5s ease-in-out;
		color: #2541B2;

	}
	#SeventhSection .BlogLink a{
		margin-top: 30px;
		text-decoration: none;
		color: black;
		font-family: 'Ubuntu', sans-serif;
		font-weight: bolder;
		font-size: 15px;
		border-bottom: 2px solid;	
	}
	#SeventhSection .BlogLink a:hover{
		transition: 0.5s ease-in-out;
		color: #2541B2;
	}
	#CaseStudiesFirstSec{
		padding: 20px 10px 20px 10px;
		min-height: 300px;	
	}
	#CaseStudiesFirstSec h6{
		font-family: 'Ubuntu', sans-serif;
		text-transform: uppercase;
		font-weight: bolder;
		font-size: 13px;
		color: #6E7C7C;
	}

	#CaseStudiesFirstSec h1{
		font-size: 40px;
		font-weight: 900;
		font-family: 'Josefin Sans', sans-serif;
	}
	#CaseStudiesFirstSec p{
		font-size: 16px;
	}
	#CaseStudiesPagination{
		padding: 5px 10px 5px 10px;
		background-color:#EEEEEE ;
	}
	#CaseStudiesPagination ul{
		list-style-type: none;
		position: relative;
		top: 7px;
	}
	#CaseStudiesPagination ul li{
		display: inline;
		font-size: 12px;
		margin-left: 10px;
		text-transform: uppercase;
		font-family: 'Ubuntu', sans-serif;
		font-weight: 600;
		color: #6E7C7C;
	}
	#CaseStudiesPagination .Entity{
		font-size: 15px;
		color: black;
		font-weight: 600;
	}
	#CaseStudiesPagination a{
		text-decoration: none;
		color: black;
	}
	#CaseStudiesSecondSec{
		padding: 10px 10px 10px 10px;
	}
	#CaseStudiesSecondSec ul{
		list-style-type: none;
		position: relative;
		left: 30px;
	}
	#CaseStudiesSecondSec ul li{
		text-align: center;
		padding: 10px;		
		border-width: 3px;
		border-radius: 20px;
		cursor: pointer;
		font-family: 'Josefin Sans', sans-serif;
	}


	#CaseStudiesSecondSec .card-img-top{
		width:auto;
		height: 300px;
	}
	#CaseStudiesSecondSec .card{
		overflow: hidden;
		border: none;
	}
	#CaseStudiesSecondSec .card:hover{
		transition: 1s ease-in-out;
		box-shadow: 1px 3px 7px -2px rgba(0,0,0,0.75);
		-webkit-box-shadow: 1px 3px 7px -2px rgba(0,0,0,0.75);
		-moz-box-shadow: 1px 3px 7px -2px rgba(0,0,0,0.75);
		transform: translateY(-10px);
	}
	#CaseStudiesSecondSec .card-body{
		padding: 15px;
	}
	#CaseStudiesSecondSec .card-title{
		font-weight: bold;
		font-size: 14px;
		font-family: 'Josefin Sans', sans-serif;
	}
	#CaseStudiesSecondSec .card-text{
		font-weight: bolder;
		font-size: 12px;
		font-family: 'Ubuntu', sans-serif;
		color: #6E7C7C;	
	}
	#CaseStudiesSecondSec a{
		text-decoration: none;
		color: black;
	}
	#CaseStudiesSecondSec .row{
		margin-top: 30px;
	}
	#CaseStudiesThirdSec{
		padding: 100px 10px 50px 10px;
	}
	#CaseStudiesThirdSec .title-shape:after{
		content: '';
		position: absolute;
		display: block;
		top: 5%;
		left: -6px;
		background: url('https://www.bonoboz.in/wp-content/themes/bonoboz/assets/images/svg/shape-5.svg');
		width: 20px;
		height: 73px;

	}
	#CaseStudiesThirdSec h1{
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 600;
	}
	#CaseStudiesThirdSec .col{
		padding: 10px;
	}
	#CaseStudiesThirdSec form{
		margin-top: 20px;
	}
	#CaseStudiesThirdSec form input{
		width: 100%;
		border: none;
		outline: none;
		border-radius: 0px;
		border-bottom:1px solid;
		margin-top: 10px;
		padding: 10px;
		font-family: 'Ubuntu', sans-serif;
	}
	#CaseStudiesThirdSec form textarea{
		width: 100%;
		font-family: 'Ubuntu', sans-serif;
		border: none;
		outline: none;
		border-radius: 0px;
		border-bottom:1px solid;
		margin-top: 10px;
		padding: 10px;
	}
	#CaseStudiesThirdSec img{
		width: 300px;
		position: relative;
		left: 3%;
		top: 5%;
	}
	#CaseStudiesThirdSec .btn{
		margin-top: 20px;
		min-width: 150px;
		min-height: 45px;
		padding: 10px;
		font-family: 'Ubuntu', sans-serif;
		text-transform: uppercase;
		font-weight: bolder;
		letter-spacing: 1px;
		font-size: 12px;
		background-color: #0F52BA;
		border: none;
		border-radius: 45px;
		box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
		transition: all 0.3s ease 0s;
		cursor: pointer;
		outline: none;
		color: white;
	}
	#CaseStudiesThirdSec .btn:hover{
		background-color: #2EE59D;
		box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
		color: #fff;
		transform: translateY(-7px);	
	}

	#WhoWeAreSectionOne{
		padding: 20px 10px 20px 10px;
		min-height: 300px;	
	}
	#WhoWeAreSectionOne h6{
		font-family: 'Ubuntu', sans-serif;
		text-transform: uppercase;
		font-weight: bolder;
		font-size: 13px;
		color: #6E7C7C;
	}

	#WhoWeAreSectionOne h1{
		font-size: 40px;
		font-weight: 900;
		font-family: 'Josefin Sans', sans-serif;
	}
	#WhoWeAreSectionOne .who-title span{
		background: url('https://www.bonoboz.in/wp-content/themes/bonoboz/assets/images/svg/bottom-vector-line.svg') no-repeat center bottom;
		padding-bottom: 40px;
		display: inline-block;
	}
	#whoWeArePagination{
		padding: 5px 10px 5px 10px;
		background-color:#EEEEEE ;
	}
	#whoWeArePagination ul{
		list-style-type: none;
		position: relative;
		top: 7px;
	}
	#whoWeArePagination ul li{
		display: inline;
		font-size: 12px;
		margin-left: 10px;
		text-transform: uppercase;
		font-family: 'Ubuntu', sans-serif;
		font-weight: 600;
		color: #6E7C7C;
	}
	#whoWeArePagination .Entity{
		font-size: 15px;
		color: black;
		font-weight: 600;
	}
	#whoWeArePagination a{
		text-decoration: none;
		color: black;
	}
	#WhoWeAreSectiontwo{
		padding: 10px 5px 10px 5px;
	}
	#WhoWeAreSectiontwo .row{
		margin-top: 30px;
		padding: 5px;
	}

	#WhoWeAreSectiontwo .HeadImg{
		padding: 5px;
		min-width: 30px;
		min-height: 30px;
	}
	#WhoWeAreSectiontwo h3{
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 550;
		font-size: 20px;
	}
	#WhoWeAreSectiontwo p{
		text-align: justify;
	}

	#WhoWeAreSectiontwo .ColImg{
		width:300px;
		position: relative;
		left: 7%;
		border-radius: 10px;
	}
	#WhoWeAreSectionThird .ColImg{
		width:300px;
		position: relative;
		border-radius: 10px;
	}

	#WhoWeAreSectionThird{
		padding: 30px 5px 10px 5px;
		background-color:#EEEEEE;

	}	


	#WhoWeAreSectionThird .HeadImg{
		padding: 5px;
		min-width: 30px;
		min-height: 30px;
	}
	#WhoWeAreSectionThird h3{
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 550;
		padding: 5px;
		font-size: 20px;
	}
	#WhoWeAreSectionThird p{
		padding: 5px;
		margin-top: -10px;
	}


	#CareerFirstSection{
		padding: 10px 5px 10px 5px;

	}
	#CareerFirstSection h6{
		font-family: 'Ubuntu', sans-serif;
		text-transform: uppercase;
		font-weight: bolder;
		font-size: 13px;
		color: #6E7C7C;
	}
	#CareerFirstSection p{
		font-size: 20px;
	}
	#CareerFirstSection h1{
		font-size: 40px;
		font-weight: 900;
		font-family: 'Josefin Sans', sans-serif;
	}

	#CareerPaginsation{
		padding: 5px 10px 5px 10px;
		background-color:#EEEEEE ;
	}
	#CareerPaginsation ul{
		list-style-type: none;
		position: relative;
		top: 7px;
	}
	#CareerPaginsation ul li{
		display: inline;
		font-size: 12px;
		margin-left: 10px;
		text-transform: uppercase;
		font-family: 'Ubuntu', sans-serif;
		font-weight: 600;
		color: #6E7C7C;
	}
	#CareerPaginsation .Entity{
		font-size: 15px;
		color: black;
		font-weight: 600;
	}
	#CareerPaginsation a{
		text-decoration: none;
		color: black;
	}

	#CareerSecondSection{
		padding: 20px 10px 20px 10px;
	}
	#CareerSecondSection .FirstImg{
		height: 500px;
		width: 310px;
		text-align: center;
	}
	#CareerSecondSection .Iframe{
		position: relative;
		margin-top: 10px;
		width: 310px;
	}
	#CareerSecondSection .CareerImgs{
		width: 310px;
		height: auto;
	}

	#CareerThirdSection{
		padding: 50px 10px 30px 10px;
	}
	#CareerThirdSection h1{
		font-size: 32px;
		font-weight: 700;
		font-family: 'Josefin Sans', sans-serif;
	}
	#CareerThirdSection span{
		background-color: black;
		color: white;
		padding: 5px;
	}
	#CareerThirdSection p{
		font-size:16px;
		margin-top: 20px;
	}
	#CareerThirdSection ul{
		padding: 10px;
	}
	#CareerThirdSection ul li{
		margin-top: 10px;
		font-size: 16px;
	}

	#CareerFourthSection{
		padding: 30px 10px 50px 10px;	
		background-color:#EEEEEE ;
	}

	#CareerFourthSection .row{
		margin-top: 10px;
	}
	#CareerFourthSection .col-md{
		padding-top: 20px;
	}
	#CareerFourthSection h1{
		font-size: 32px;
		font-weight: 700;
		font-family: 'Josefin Sans', sans-serif;
	}
	#CareerFourthSection h5{
		font-weight: bolder;
		font-size: 20px;
		font-family: 'Josefin Sans', sans-serif;	
	}
	#CareerFourthSection p{
		font-size: 16px;
	}
	#CareerFourthSection span{
		background-color: black;
		color: white;
		padding: 5px;
	}

	#CareerFifthSection{
		padding: 40px 10px 40px 10px;
	}
	#CareerFifthSection .row{
		margin-top: 10px;
	}
	#CareerFifthSection .table{
		margin-top: 30px;
	}
	#CareerFifthSection h1{
		font-size: 32px;
		font-weight: 700;
		font-family: 'Josefin Sans', sans-serif;
	}
	#CareerFifthSection span{
		background-color: black;
		color: white;
		padding: 5px;
	}
	#CareerFifthSection button{
		float: right;
	}
	#CareerFifthSection h5{
		font-size: 16px;
		font-weight: 700;
		font-family: 'Josefin Sans', sans-serif;	
	}
	#CareerFifthSection p{
		color:#766161;
		font-size: 15px;	
	}
	#CareerFifthSection button{
		position: relative;
		margin-top: 10px;
		background-color: white;
		padding: 5px;
		border-radius: 20px;
		min-width: 100px;
		min-height: 35px;
		outline: none;
		font-weight: bolder;
		text-transform: uppercase;
		border: 1px solid;
		font-size: 10px;
		font-family: 'Ubuntu', sans-serif;
	}

	#CareerFifthSection button:hover{
		transition: 0.3s ease-in-out;
		background-color: black;
		color: white;

	}

	#ProjectPalnner-body{
		background-color: black;
		color: white;
	}
	#ProjectPalnner{
		padding: 50px 15px 20px 15px;
	}
	#ProjectPalnner .ProjectPalnnerRow{
		display: inline;
	}
	#ProjectPalnner .navbar{
		background-color: black;
	}
	#ProjectPalnner .navbar-brand img{
		width: 40px;
		transform: scale(2.0);
	}
	#ProjectPalnner .navbar a{
		font-size: 20px;
		text-decoration: none;
		color: white;
	}


	#ProjectPalnner #ProjectPlannerFirstSection{
		margin-top: 50px;
		padding: 20px 10px 20px 10px;
	}
	#ProjectPlannerFirstSection h1{
		font-size: 32px;
		font-weight: 700;
		font-family: 'Josefin Sans', sans-serif;	
		margin-bottom: 20px;
	}
	#ProjectPlannerFirstSection h3{
		font-size: 16px;
		font-weight: 700;
		font-family: 'Josefin Sans', sans-serif;	
	}
	#ProjectPlannerFirstSection p{
		font-size: 13px;
		font-family: 'Josefin Sans', sans-serif;	
		color: #E1E5EA;
	}
	#ProjectPlannerSecondSection{
		padding: 20px 10px 20px 10px;
	}
	#ProjectPlannerSecondSection .row, .Organization{
		margin-top: 30px;
	}

	#ProjectPalnner .ContactRow{
		margin-top: 35px;
	}
	#ProjectPalnner .ContactRow .form-check-label{
		margin-left: -10px;
		padding: 0px 50px 0px 10px;
	}
	#ProjectPalnner input[type="checkbox"]{
		width: 20px;
		height: 15px;
	}
	#ProjectPlannerSecondSection .InputText{
		width: 100%;
		padding: 7px;
		border: none;
		outline: none;
		border-bottom: 1px white solid;
		background-color: black;
		color: white;
	}

	#ProjectPlannerSecondSection i{
		float: right;
	}
	#ProjectPlannerSecondSection p{
		font-size: 14px;
	}
	#ProjectPlannerSecondSection h5{
		font-size: 17px;
		cursor: pointer;
	}
	#ProjectPlannerSecondSection .Service-Item{
		border-bottom: 0.5px solid white;
		padding-bottom: 5px;
		border-width: thin;
	}

	#ProjectPalnner .Overview-section{
		margin-top: 50px;
	}
	#ProjectPalnner .Submit-Button button{
		float: right;
		min-width: 100px;
		text-align: center;
		border: none;
		outline: none;
		padding: 10px;
		border-radius: 50px;
		font-size: 13px;
		background-color: #0F52BA;
		color: white;
		font-family: 'Ubuntu', sans-serif;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	#ProjectPalnner .Submit-Button button:hover{
		transition: 0.5s ease-in-out;
		background-color: #001E6C;
	}

	#ContactFirstSection{
		padding: 20px 10px 20px 10px;
		min-height: 150px;	
	}
	#ContactFirstSection h6{
		font-family: 'Ubuntu', sans-serif;
		text-transform: uppercase;
		font-weight: bolder;
		font-size: 13px;
		color: #6E7C7C;
	}

	#ContactFirstSection h1{
		font-size: 40px;
		font-weight: 900;
		font-family: 'Josefin Sans', sans-serif;
	}
	#ContactFirstSection p{
		font-size: 16px;
	}
	#ContactPagination{
		padding: 5px 10px 5px 10px;
		background-color:#EEEEEE ;
	}
	#ContactPagination ul{
		list-style-type: none;
		position: relative;
		top: 7px;
	}
	#ContactPagination ul li{
		display: inline;
		font-size: 12px;
		margin-left: 10px;
		text-transform: uppercase;
		font-family: 'Ubuntu', sans-serif;
		font-weight: 600;
		color: #6E7C7C;
	}
	#ContactPagination .Entity{
		font-size: 15px;
		color: black;
		font-weight: 600;
	}
	#ContactPagination a{
		text-decoration: none;
		color: black;
	}
	#ContactSecondSecton{
		padding: 10px 10px 10px 10px;
	}
	
	#ContactSecondSecton{
		padding: 60px 10px 30px 10px;
	}
	#ContactSecondSecton h5{
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 700;
	}
	#ContactSecondSecton a{
		text-decoration: none;
	}
	#ContactThirdSection{
		padding: 50px 10px 50px 10px;
	}
	#ContactThirdSection .title-shape:after{
		content: '';
		position: absolute;
		display: block;
		top: 5%;
		left: -6px;
		background: url('https://www.bonoboz.in/wp-content/themes/bonoboz/assets/images/svg/shape-5.svg');
		width: 20px;
		height: 73px;

	}
	#ContactThirdSection h1{
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 600;
		font-size: 32px;
	}
	#ContactThirdSection span{
		background-color: black;
		color: white;
		padding: 5px;
	}
	#ContactThirdSection .col{
		padding: 10px;
	}
	#ContactThirdSection form{
		margin-top: 20px;
		
	}
	#ContactThirdSection form input{
		width: 100%;
		border: none;
		outline: none;
		border-radius: 0px;
		border-bottom:1px solid;
		margin-top: 10px;
		padding: 10px;
		font-family: 'Ubuntu', sans-serif;
	}
	#ContactThirdSection form textarea{
		width: 100%;
		font-family: 'Ubuntu', sans-serif;
		border: none;
		outline: none;
		border-radius: 0px;
		border-bottom:1px solid;
		margin-top: 10px;
		padding: 10px;
	}
	#ContactThirdSection img{
		width: 300px;
		position: relative;
		left: 3%;
		top: 5%;
	}
	#ContactThirdSection .btn{
		margin-top: 20px;
		min-width: 150px;
		min-height: 45px;
		padding: 10px;
		font-family: 'Ubuntu', sans-serif;
		text-transform: uppercase;
		font-weight: bolder;
		letter-spacing: 1px;
		font-size: 12px;
		background-color: #0F52BA;
		border: none;
		border-radius: 45px;
		box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
		transition: all 0.3s ease 0s;
		cursor: pointer;
		outline: none;
		color: white;
	}
	#ContactThirdSection .btn:hover{
		background-color: #2EE59D;
		box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
		color: #fff;
		transform: translateY(-7px);	
	}
	#ContactFourthSection{
		padding: 50px 10px 20px 10px;
		background-color:#EEEEEE ;
	}
	#ContactFourthSection h1{
		font-size: 32px;
		font-weight: 800;
		font-family: 'Josefin Sans', sans-serif;
	}
	#ContactFourthSection h3{
		margin-top: 10px;
		font-weight: 700;
		font-size: 25px;
		font-family: 'Josefin Sans', sans-serif;	
	}
	#ContactFourthSection p{
		margin-top: 20px;
		width: 300px;
		font-size: 15px;
	}
	#ContactMap{
		background-color:#EEEEEE ;
		min-height: 200px;
	}
	#ContactMap iframe{
		border-radius: 10px;
		border: none;
		width: 100%;
		margin: 0px;
		min-height: 250px;
	}


	#ClinetFirstSection{
		padding: 50px 10px 20px 10px;
		min-height: 250px;	
	}
	#ClinetFirstSection h6{
		font-family: 'Ubuntu', sans-serif;
		text-transform: uppercase;
		font-weight: bolder;
		font-size: 13px;
		color: #6E7C7C;
	}

	#ClinetFirstSection h1{
		font-size: 32px;
		font-weight: 900;
		font-family: 'Josefin Sans', sans-serif;
	}
	#ClinetFirstSection p{
		font-size: 16px;
		margin-top: 20px;
	}
	#ClinetFirstSection span{
		background-color: black;
		color: white;
		padding: 5px;
	}
	#ClientPagination{
		padding: 5px 10px 5px 10px;
		background-color:#EEEEEE ;
	}
	#ClientPagination ul{
		list-style-type: none;
		position: relative;
		top: 7px;
	}
	#ClientPagination ul li{
		display: inline;
		font-size: 12px;
		margin-left: 10px;
		text-transform: uppercase;
		font-family: 'Ubuntu', sans-serif;
		font-weight: 600;
		color: #6E7C7C;
	}
	#ClientPagination .Entity{
		font-size: 15px;
		color: black;
		font-weight: 600;
	}
	#ClientPagination a{
		text-decoration: none;
		color: black;
	}
	#ClientsSecondSection{
		padding: 50px 10px 30px 10px;
		min-height: 300px;		
	}
	#ClientsSecondSection .row{
		margin-top: 50px;
	}
	#ClientsSecondSection .col{
		margin-left: 5px;
		display: inline;
		text-align: center;
	}
	#ClientsSecondSection img{
		width: 150px;
	}
	.back-to-top {
		position: fixed;
		bottom: 25px;
		right: 25px;
		display: none;
	}
	.page-footer{
		padding: 30px 10px 20px 5px;
	}


	.page-footer hr{
		width: 100%;
	}
	hr{
		width: 80%;
		padding: 0px;
	}
	.page-footer ul{
		list-style-type: none;
		padding: 5px;
	}
	.page-footer ul li{
		margin-top: 5px;
		padding: 5px 5px 5px 0px;
	}
	.page-footer ul a{
		text-decoration: none;
		color: black;
		font-family: 'Ubuntu', sans-serif;
		font-weight: bold;
		font-size: 12px;
	}
	.page-footer ul a:hover{
		transition: 0.5s ease-in-out;
		color: #2541B2;
	}
	.page-footer .Footer-image{
		padding: 5px;
		margin-left: 30px;
		width: 100px;
		transform: scale(2);
		margin-bottom: 5px;
	}
	.page-footer h6{
		font-weight: bold;
		font-size: 13px;
		font-family: 'Ubuntu', sans-serif;
	}
	.page-footer p{
		font-family: 'Ubuntu', sans-serif;
		font-size: 12px;
		color: #6E7C7C;	
	}
	.page-footer h5{
		color: #6E7C7C;	
		font-weight: bolder;
		font-size: 13px;
	}
	/*.social-media ul li{
		display: inline;
		float: right;
		overflow: hidden;
		}*/
		.social-media p{
			text-transform: capitalize;
			color: #6E7C7C;
			font-size: 13px;
			text-align: justify;
		}
		.social-media ul li{
			display: inline;
		}
		.social-media ul a{
			padding: 10px;
			font-size: 15px;
			border-radius: 50%;
			text-decoration: none;
			color: black;
		}
		.social-media ul a:hover{
			transition: 1s ease-in-out;
			border: 1.5px solid;
			border-radius: 50%;
			color: #2541B2;
		}
		.footer-copyright .col{
			text-align: center;
		}
		.page-footer form input{
			width: 90%;
			color: #6E7C7C;	
			background-color: white;
			border: none;
			padding: 5px;
			border-bottom: 1px solid;
			outline: none;
		}
		.page-footer form button{
			
			padding: 5px;
			margin-left: -10px;
			background-color: transparent;
			border: none;
			border-bottom: 1px solid;
		}
		.page-footer form button:hover{
			transition: 1s ease-in-out;
			color: #2541B2;
		}
	}

	@media only screen and (min-width: 992px){
		.navbar{
			background-color: white;
			margin: 20px 160px 10px 160px;

		}
		.navbar #collapsibleNavbar{
			/*display: inline-flex;*/
			flex-direction: row-reverse;
		}
		.navbar .navbar-toggler{
			background-color: black;
		}
		.navbar .nav-item{
			padding:10px;
			font-family: 'Ubuntu', sans-serif;
			font-weight: bolder;
			text-transform: uppercase;
			letter-spacing: 1px;
		}

		.DropDownList{
			background-color: #E1F1DD;
			border-radius: 10px;
			box-shadow: 4px 1px 11px 0px rgba(0,0,0,0.75);
		}
		.DropDownList ul{
			padding: 20px;
			overflow: hidden;
			list-style-type: none;
		}
		.DropDownList ul li{
			margin-top: 10px;
			margin-right: 20px;
			padding: 10px;
			cursor: pointer;

		}
		.DropDownList ul li:hover{
			overflow: hidden;
			transition: 0.5s ease-in-out;
			background-color: #0F52BA;
			color: white;
			border-radius: 10px 0px 10px 0px;
		}
		.DropDownList .media img{
			margin: 5px;
		}
		.DropDownList a{
			text-decoration: none;
			color: black;
			font-family: 'Ubuntu', sans-serif;
			font-weight: bolder;
		}
		.DropDownList a:hover{
			transition: 0.5s ease-in-out;
			color: #0F52BA;
		}
		.navbar .DropDownList h5{
			font-size: 14px;
			font-weight: bolder;
			font-family: 'Ubuntu', sans-serif;
		}
		.navbar .nav-link{
			text-decoration: none;
			color: black;
		}
		.navbar .nav-link:hover{
			transition: 0.5s ease-in-out;
			color: #2541B2;

		}
		.navbar #GetStartedBtn{
			height: 50px;
			width: 170px;
			border: none;
			border-radius: 25px;
			background-color: #2541B2;
			font-family: 'Ubuntu', sans-serif;
			font-weight: bolder;
			text-transform: uppercase;
			color: white;
			letter-spacing: 1px;
			cursor: pointer;
		}
		.navbar button:hover{
			transition: 0.5s ease-in-out;
			background-color: #2940D3;
		}
		.navbar-brand img{
			width: 60px;
			margin: 0px;
			transform: scale(2);
			
		}


		#FirstSection{
			margin: 150px 160px 10px 160px;
			min-height: 300px;
			overflow: hidden;	
		}

		#FirstSection h1{
			font-weight: bolder;
			font-size: 55px;
			font-family: 'Josefin Sans', sans-serif;;
		}

		#FirstSection p{
			font-size: 25px;
			font-family: 'Ubuntu', sans-serif;
			color: #6E7C7C;	
		}

		#FirstSection #sideImage{
			width: 500px;
			float: right;
			padding: 30px;
		}
		#FirstSection button{
			height: 50px;
			width: 170px;
			border: none;
			border-radius: 25px;
			background-color: #2541B2;
			font-family: 'Ubuntu', sans-serif;
			font-weight: bolder;
			text-transform: uppercase;
			color: white;
			letter-spacing: 1px;
			cursor: pointer;
		}
		#FirstSection button:hover{
			transition: 0.5s ease-in-out;
			background-color: #2940D3;
		}
		#ScrollIcon{
			text-align: center;
		}
		#ScrollIcon img{
			margin-top: 40px;
			width: 55px;
		}
		#ScrollIcon span{
			margin-top: -100px;
			font-family: 'Ubuntu', sans-serif;
			color: #6E7C7C;	
			animation: 5s ScrollLink ease-out infinite;
		}
		#ScrollIcon a{
			text-decoration: none;
		}
		@keyframes ScrollLink{
			0%{
				letter-spacing: 1px;
			}
			25%{
				letter-spacing: 1.5px;
			}
			50%{
				letter-spacing: 0px;
			}
			75%{
				letter-spacing: 1px;
			}
			100%{
				letter-spacing: 1.5px;
			}

		}
		#SectionTwo{
			margin-top: 70px;
			min-height: 370px;
			color: white;
			padding: 50px 160px 50px 200px;
			background-color: black;
		}

		#SectionTwo .row{
			margin-top: 20px;
			padding: 5px;
		}
		#SectionTwo p a{
			text-decoration: none;
			color: white;
			font-family: 'Ubuntu', sans-serif;
		}
		#SectionTwo p a:hover{
			transition: 1s ease-in-out;
			border-bottom: 2px dotted;
			letter-spacing: 2px;
		}
		#SectionTwo h1{
			font-weight: bolders;
			font-family: 'Josefin Sans', sans-serif;
		}
		#SectionTwo h6{
			font-size: 15px;
			font-family: 'Ubuntu', sans-serif;
		}


		#SectionThree{
			min-height: 370px;
			padding: 50px 160px 50px 200px;
			background-color: #DFEEEA;
		}
		#SectionThree h1{
			font-size: 40px;
			font-family: 'Josefin Sans', sans-serif;
		}
		kbd{
			background-color: black;
			color: white;
			padding: 5px;
			border-radius: 1px;
		}
		#SectionThree p{
			width: 750px;
			padding: 5px;
			line-height: 30px;
			font-size: 20px;
			font-family: 'Ubuntu', sans-serif;
			color: #334443;
			text-align: justify;
		}
		#SectionThree a{
			text-decoration: none;
			text-transform: uppercase;
			font-size: 12px;
			font-weight: bolder;
			border-bottom:solid;
			color: black;
			font-family: 'Ubuntu', sans-serif;
		}
		#SectionThree a:hover{
			transition: 1s ease-in-out;
			color: #2541B2;
		}
		#FourthSection{
			padding: 100px 160px 50px 200px;
			min-height: 650px;
		}
		#FourthSection h6{
			font-family: 'Ubuntu', sans-serif;	
			font-size: 15px;



			font-weight: bolder;
			color: #6E7C7C;	
		}

		#FourthSection h1{
			font-family: 'Josefin Sans', sans-serif;
			font-size: 40px;
			line-height: 50px;
			overflow: hidden;
		}
		#FourthSection #ServiceInformation{
			margin-top: 30px;
		}

		#FourthSection img{
			width: 450px;
			float: right;
			padding: 20px;
		}
		#FourthSection ul{
			padding: 10px;
			list-style-type: none;
		}
		#FourthSection ul li{
			margin-top: 20px;
		}
		#FourthSection ul h4{
			font-family: 'Ubuntu', sans-serif;
			font-size: 20px;
			font-weight: bolder;
			cursor: pointer;
		}
		#FourthSection p{
			font-family: 'Ubuntu', sans-serif;
			color: #6E7C7C;	
			font-size: 16px;
		}
		#FourthSection p a{
			text-decoration: none;
			text-transform: uppercase;
			font-family: 'Ubuntu', sans-serif;
			font-weight: bolder;
			color: black;
			border-bottom: 1px solid;
		}
		#FourthSection p a:hover{
			transition: 1s ease-in-out;
			color: #2541B2;
			letter-spacing: 0.5px;
		}
		#FifthSection{
			padding: 70px 160px 50px 200px;
			background-color: #185ADB;
			min-height: 400px;	
		}
		#FifthSection h1{
			color: white;
			text-align: justify;
			font-family: 'Josefin Sans', sans-serif;
			font-weight: bolder;
			line-height: 60px;
		}
		#FifthSection button{
			margin-top: 20px;
			min-width: 170px;
			min-height: 45px;
			padding: 10px;
			font-family: 'Ubuntu', sans-serif;
			text-transform: uppercase;
			font-weight: bolder;
			letter-spacing: 1px;
			font-size: 12px;
			background-color: white;
			border: none;
			border-radius: 45px;
			box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
			transition: all 0.3s ease 0s;
			cursor: pointer;
			outline: none;
		}
		#FifthSection button:hover{
			background-color: #2EE59D;
			box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
			color: #fff;
			transform: translateY(-7px);	
		}
		#FifthSection span{
			background-color: white;
			color: #185ADB;
			padding: 5px;
		}

		#SixthSection{
			padding: 100px 200px 50px 200px;	
			min-height: 700px;
		}
		#SixthSection h6{
			font-family: 'Ubuntu', sans-serif;
			font-weight: bolder;
			color: #6E7C7C;	
		}
		#SixthSection h1{
			font-family: 'Josefin Sans', sans-serif;
			font-weight: bolder;	
		}
		#SixthSection span{
			background-color: black;
			color: white;
			padding: 5px;
		}
		#SixthSection .information{
			margin-bottom: 60px;
		}
		#SixthSection .card-img-top{
			width:auto;
			height: 500px;
		}
		#SixthSection .card{
			overflow: hidden;
		}
		#SixthSection .card-body{
			padding: 15px;
		}
		#SixthSection .card-title{
			font-weight: bold;
			font-family: 'Josefin Sans', sans-serif;
		}
		#SixthSection .card-text{
			font-weight: bolder;
			font-family: 'Ubuntu', sans-serif;
			color: #6E7C7C;	
		}
		#SixthSection a{
			text-decoration: none;
			color: black;
		}
		#SixthSection .row{
			margin-top: 30px;
		}
		#SixthSection #ProjectListLink {
			font-weight: bolder;
			font-family: 'Ubuntu', sans-serif;
			color: #334443;	
		}
		#ProjectListLink:hover{
			transition: 1s ease-in-out;
			letter-spacing: 1px;
			line-height: 20px;
			font-size: 15px;
			text-decoration: underline;
		}

		#SeventhSection{
			padding: 100px 200px 50px 200px;
			min-height: 700px;
		}
		#SeventhSection .Title-row{
			margin: 0px 0px 70px 90px;
		}
		#SeventhSection .Title-row h6{
			font-weight: bolder;
			font-family: 'Ubuntu', sans-serif;
			color: #6E7C7C;	
			font-size: 12px;
		}
		#SeventhSection .Title-row h1{
			font-weight: bolder;
			font-family: 'Josefin Sans', sans-serif;
		}
		#SeventhSection .Title-row span{
			background-color: black;
			color: white;
			padding: 5px;
		}
		#SeventhSection .media{
			margin: 10px;
		}
		#SeventhSection .media img{
			margin: 5px;
			width: 120px;
			padding: 5px;
		}
		#SeventhSection .media-body{
			margin-top: 10px;
		}
		#SeventhSection .media p{
			font-family: 'Ubuntu', sans-serif;
			color: #334443;	
			margin-bottom:5px;
			font-size: 15px;
		}
		#SeventhSection .media h6{
			font-weight: bolder;
			font-family: 'Josefin Sans', sans-serif;
		}
		#SeventhSection .media a{
			text-decoration: none;
			color: black;
			font-family: 'Ubuntu', sans-serif;
			font-size: 15px;
			color: #6E7C7C;	

		}
		#SeventhSection .media a:hover{
			transition: 0.5s ease-in-out;
			color: #2541B2;

		}
		#SeventhSection .BlogLink a{
			margin-top: 100px;
			text-decoration: none;
			color: black;
			font-family: 'Ubuntu', sans-serif;
			font-weight: bolder;
			font-size: 15px;
			border-bottom: 2px solid;	
		}
		#SeventhSection .BlogLink a:hover{
			transition: 0.5s ease-in-out;
			color: #2541B2;
		}

		#CaseStudiesFirstSec{
			padding: 100px 200px 50px 200px;
			min-height: 300px;	
		}
		#CaseStudiesFirstSec h6{
			font-family: 'Ubuntu', sans-serif;
			text-transform: uppercase;
			font-weight: bolder;
			font-size: 13px;
			color: #6E7C7C;
		}

		#CaseStudiesFirstSec h1{
			font-size: 70px;
			font-weight: 900;
			font-family: 'Josefin Sans', sans-serif;
		}
		#CaseStudiesFirstSec p{
			font-size: 20px;
		}
		#CaseStudiesPagination{
			padding: 5px 200px 5px 140px;
			background-color:#EEEEEE ;
		}
		#CaseStudiesPagination ul{
			list-style-type: none;
			position: relative;
			top: 7px;
		}
		#CaseStudiesPagination ul li{
			display: inline;
			font-size: 12px;
			margin-left: 10px;
			text-transform: uppercase;
			font-family: 'Ubuntu', sans-serif;
			font-weight: 600;
			color: #6E7C7C;
		}
		#CaseStudiesPagination .Entity{
			font-size: 15px;
			color: black;
			font-weight: 600;
		}
		#CaseStudiesPagination a{
			text-decoration: none;
			color: black;
		}
		#CaseStudiesSecondSec{
			padding: 100px 200px 50px 200px;
		}
		#CaseStudiesSecondSec ul{
			list-style-type: none;
		}
		#CaseStudiesSecondSec ul li{
			margin-left: 10px;
			padding: 15px;
			display: inline;
			border-width: 3px;
			border-radius: 20px;
			cursor: pointer;
			font-family: 'Josefin Sans', sans-serif;
		}


		#CaseStudiesSecondSec .card-img-top{
			width:auto;
			height: 500px;
		}
		#CaseStudiesSecondSec .card{
			overflow: hidden;
			border: none;
		}
		#CaseStudiesSecondSec .card:hover{
			transition: 1s ease-in-out;
			box-shadow: 1px 3px 7px -2px rgba(0,0,0,0.75);
			-webkit-box-shadow: 1px 3px 7px -2px rgba(0,0,0,0.75);
			-moz-box-shadow: 1px 3px 7px -2px rgba(0,0,0,0.75);
			transform: translateY(-10px);
		}
		#CaseStudiesSecondSec .card-body{
			padding: 15px;
		}
		#CaseStudiesSecondSec .card-title{
			font-weight: bold;
			font-size: 14px;
			font-family: 'Josefin Sans', sans-serif;
		}
		#CaseStudiesSecondSec .card-text{
			font-weight: bolder;
			font-size: 12px;
			font-family: 'Ubuntu', sans-serif;
			color: #6E7C7C;	
		}
		#CaseStudiesSecondSec a{
			text-decoration: none;
			color: black;
		}
		#CaseStudiesSecondSec .row{
			margin-top: 30px;
		}
		#CaseStudiesThirdSec{
			padding: 100px 200px 50px 200px;
		}
		#CaseStudiesThirdSec .title-shape:after{
			content: '';
			position: absolute;
			display: block;
			top: 5%;
			left: -30px;
			background: url('https://www.bonoboz.in/wp-content/themes/bonoboz/assets/images/svg/shape-5.svg');
			width: 28px;
			height: 73px;

		}
		#CaseStudiesThirdSec h1{
			font-family: 'Josefin Sans', sans-serif;
			font-weight: 600;
		}
		#CaseStudiesThirdSec .col{
			padding: 10px;
		}
		#CaseStudiesThirdSec form{
			margin-top: 20px;
		}
		#CaseStudiesThirdSec form input{
			width: 400px;
			border: none;
			outline: none;
			border-radius: 0px;
			border-bottom:1px solid;
			margin-top: 10px;
			padding: 10px;
			font-family: 'Ubuntu', sans-serif;
		}
		#CaseStudiesThirdSec form textarea{
			width: 400px;
			font-family: 'Ubuntu', sans-serif;
			border: none;
			outline: none;
			border-radius: 0px;
			border-bottom:1px solid;
			margin-top: 10px;
			padding: 10px;
		}
		#CaseStudiesThirdSec img{
			width: 400px;
		}
		#CaseStudiesThirdSec .btn{
			margin-top: 20px;
			min-width: 170px;
			min-height: 45px;
			padding: 10px;
			font-family: 'Ubuntu', sans-serif;
			text-transform: uppercase;
			font-weight: bolder;
			letter-spacing: 1px;
			font-size: 12px;
			background-color: #0F52BA;
			border: none;
			border-radius: 45px;
			box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
			transition: all 0.3s ease 0s;
			cursor: pointer;
			outline: none;
			color: white;
		}
		#CaseStudiesThirdSec .btn:hover{
			background-color: #2EE59D;
			box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
			color: #fff;
			transform: translateY(-7px);	
		}


		#WhoWeAreSectionOne{
			padding: 100px 200px 50px 200px;
			min-height: 300px;	
		}
		#WhoWeAreSectionOne h6{
			font-family: 'Ubuntu', sans-serif;
			text-transform: uppercase;
			font-weight: bolder;
			font-size: 13px;
			color: #6E7C7C;
		}

		#WhoWeAreSectionOne h1{
			font-size: 70px;
			font-weight: 900;
			font-family: 'Josefin Sans', sans-serif;
		}
		#WhoWeAreSectionOne .who-title span{
			background: url('	https://www.bonoboz.in/wp-content/themes/bonoboz/assets/images/svg/bottom-vector-line.svg') no-repeat center bottom;
			padding-bottom: 40px;
			display: inline-block;
		}
		#whoWeArePagination{
			padding: 5px 200px 5px 140px;
			background-color:#EEEEEE ;
		}
		#whoWeArePagination ul{
			list-style-type: none;
			position: relative;
			top: 7px;
		}
		#whoWeArePagination ul li{
			display: inline;
			font-size: 12px;
			margin-left: 10px;
			text-transform: uppercase;
			font-family: 'Ubuntu', sans-serif;
			font-weight: 600;
			color: #6E7C7C;
		}
		#whoWeArePagination .Entity{
			font-size: 15px;
			color: black;
			font-weight: 600;
		}
		#whoWeArePagination a{
			text-decoration: none;
			color: black;
		}
		#WhoWeAreSectiontwo{
			padding: 100px 200px 50px 200px;
		}
		#WhoWeAreSectiontwo .row{
			margin-top: 10px;
			padding: 10px;
		}

		#WhoWeAreSectiontwo .HeadImg{
			padding: 5px;
			min-width: 60px;
			min-height: 60px;
		}
		#WhoWeAreSectiontwo h3{
			font-family: 'Josefin Sans', sans-serif;
			font-weight: 550;
			padding: 5px;
			font-size: 25px;
		}
		#WhoWeAreSectiontwo p{
			padding: 5px;
		}

		#WhoWeAreSectiontwo .ColImg{
			width: 500px;
			border-radius: 20px;
		}
		#WhoWeAreSectionThird .ColImg{
			width: 500px;
			border-radius: 20px;
		}

		#WhoWeAreSectionThird{
			padding: 20px 200px 50px 200px;
			background-color:#EEEEEE;
		}	
		

		#WhoWeAreSectionThird .HeadImg{
			padding: 5px;
			min-width: 50px;
			min-height: 50px;
		}
		#WhoWeAreSectionThird h3{
			font-family: 'Josefin Sans', sans-serif;
			font-weight: 550;
			padding: 5px;
			font-size: 25px;
		}
		#WhoWeAreSectionThird p{
			padding: 5px;
			margin-top: -10px;
		}

		.bottomMenu {
			width: 100%;
			height: 60px;
			border-top: 1px solid #000;
			position: fixed;
			bottom: 0px;
			z-index: 100;
			opacity: 0;
		}

		#CareerFirstSection{
			padding: 100px 200px 50px 200px;
			min-height: 300px;	
		}
		#CareerFirstSection h6{
			font-family: 'Ubuntu', sans-serif;
			text-transform: uppercase;
			font-weight: bolder;
			font-size: 13px;
			color: #6E7C7C;
		}
		#CareerFirstSection p{
			font-size: 25px;
		}
		#CareerFirstSection h1{
			font-size: 70px;
			font-weight: 900;
			font-family: 'Josefin Sans', sans-serif;
		}
		
		#CareerPaginsation{
			padding: 5px 200px 5px 140px;
			background-color:#EEEEEE ;
		}
		#CareerPaginsation ul{
			list-style-type: none;
			position: relative;
			top: 7px;
		}
		#CareerPaginsation ul li{
			display: inline;
			font-size: 12px;
			margin-left: 10px;
			text-transform: uppercase;
			font-family: 'Ubuntu', sans-serif;
			font-weight: 600;
			color: #6E7C7C;
		}
		#CareerPaginsation .Entity{
			font-size: 15px;
			color: black;
			font-weight: 600;
		}
		#CareerPaginsation a{
			text-decoration: none;
			color: black;
		}

		#CareerSecondSection{
			padding: 100px 50px 50px 50px;
		}
		#CareerSecondSection .FirstImg{
			height: 450px;
			width: 300px;
		}
		#CareerSecondSection .Iframe{
			position: relative;
		}
		#CareerSecondSection .CareerImgs{
			width: 520px;
			height: auto;
		}

		#CareerThirdSection{
			padding: 100px 200px 50px 300px;
		}
		#CareerThirdSection h1{
			font-size: 35px;
			font-weight: 700;
			font-family: 'Josefin Sans', sans-serif;
		}
		#CareerThirdSection span{
			background-color: black;
			color: white;
			padding: 5px;
		}
		#CareerThirdSection p{
			font-size: 20px;
			margin-top: 20px;
		}
		#CareerThirdSection ul{
			padding: 10px;
		}
		#CareerThirdSection ul li{
			margin-top: 10px;
			font-size: 20px;
		}

		#CareerFourthSection{
			padding: 70px 200px 50px 200px;	
			background-color:#EEEEEE ;
		}

		#CareerFourthSection .row{
			margin-top: 10px;
			padding: 10px;
		}
		#CareerFourthSection .col-md{
			margin-left: 50px;
			padding-top: 20px;
		}
		#CareerFourthSection h1{
			font-size: 35px;
			font-weight: 700;
			font-family: 'Josefin Sans', sans-serif;
		}
		#CareerFourthSection h5{
			font-weight: bolder;
			font-size: 25px;
			font-family: 'Josefin Sans', sans-serif;	
		}
		#CareerFourthSection p{
			font-size: 20px;
		}
		#CareerFourthSection span{
			background-color: black;
			color: white;
			padding: 5px;
		}

		#CareerFifthSection{
			padding: 70px 220px 50px 220px;
		}
		#CareerFifthSection .row{
			margin-top: 10px;
		}
		#CareerFifthSection .table{
			margin-top: 50px;
		}
		#CareerFifthSection h1{
			font-size: 35px;
			font-weight: 700;
			font-family: 'Josefin Sans', sans-serif;
		}
		#CareerFifthSection span{
			background-color: black;
			color: white;
			padding: 5px;
		}
		#CareerFifthSection ul{
			padding: 10px;
			list-style-type: none;
		}
		#CareerFifthSection ul li{
			margin-top: 10px;
		}
		#CareerFifthSection button{
			float: right;
		}
		#CareerFifthSection h5{
			font-size: 20px;
			font-weight: 700;
			font-family: 'Josefin Sans', sans-serif;	
		}
		#CareerFifthSection p{
			color:#766161;
			font-size: 15px;	
		}
		#CareerFifthSection button{
			position: relative;
			margin-top: 10px;
			background-color: white;
			padding: 5px;
			border-radius: 20px;
			min-width: 130px;
			min-height: 42px;
			outline: none;
			font-weight: bolder;
			text-transform: uppercase;
			border: 1px solid;
			font-size: 12px;
			font-family: 'Ubuntu', sans-serif;
		}

		#CareerFifthSection button:hover{
			transition: 0.3s ease-in-out;
			background-color: black;
			color: white;

		}
		#ProjectPalnner-body{
			background-color: black;
			color: white;
		}
		#ProjectPalnner{
			padding: 50px 200px 10px 200px;
		}
		#ProjectPalnner .navbar{
			background-color: black;
		}
		#ProjectPalnner .navbar a{
			font-size: 30px;
			text-decoration: none;
			color: white;
		}
		#ProjectPalnner .navbar-brand img{
			width: 50px;
			transform: scale(2.0);
		}

		#ProjectPalnner #HeadImg img{
			width: 60px;
			margin: 0px;
			border-radius: 10px;
			transform: scale(2.0);
		}

		#ProjectPalnner .buttonLink i{
			text-decoration: none;
			color: black;
			font-size: 40px;
			font-weight: 100;
			color: white;
		}

		#ProjectPalnner #ProjectPlannerFirstSection{
			margin-top: 100px;
			margin-bottom: 20px;
		}
		#ProjectPlannerFirstSection h1{
			font-size: 35px;
			font-weight: 700;
			font-family: 'Josefin Sans', sans-serif;	
			margin-bottom: 40px;
		}
		#ProjectPlannerFirstSection h3{
			font-size: 20px;
			font-weight: 700;
			font-family: 'Josefin Sans', sans-serif;	
		}
		#ProjectPlannerFirstSection hp{
			font-size: 16px;
			font-family: 'Josefin Sans', sans-serif;	
			color: #E1E5EA;
		}
		#ProjectPlannerSecondSection{
			padding: 20px 0px 20px 0px;
		}
		#ProjectPlannerSecondSection .row{
			margin-top: 20px;
		}
		#ProjectPalnner form{
			min-width: 700px;
		}
		#ProjectPalnner .ContactRow{
			margin-top: 50px;
		}
		#ProjectPalnner .ContactRow .form-check-label{
			margin-left: -10px;
			padding: 0px 50px 0px 10px;
		}
		#ProjectPalnner input[type="checkbox"]{
			width: 20px;
			height: 15px;
		}
		#ProjectPlannerSecondSection .InputText{
			width: 100%;
			padding: 7px;
			border: none;
			outline: none;
			border-bottom: 1px white solid;
			background-color: black;
			color: white;
		}

		#ProjectPlannerSecondSection i{
			float: right;
		}
		#ProjectPlannerSecondSection h5{
			cursor: pointer;
		}
		#ProjectPlannerSecondSection .Service-Item{
			border-bottom: 0.5px solid white;
			padding-bottom: 10px;
			border-width: thin;
		}

		#ProjectPalnner .Overview-section{
			margin-top: 50px;
		}
		#ProjectPalnner .Submit-Button button{
			float: right;
			min-width: 120px;
			text-align: center;
			border: none;
			outline: none;
			padding: 10px;
			border-radius: 50px;
			font-size: 15px;
			background-color: #0F52BA;
			color: white;
			font-family: 'Ubuntu', sans-serif;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
		#ProjectPalnner .Submit-Button button:hover{
			transition: 0.5s ease-in-out;
			background-color: #001E6C;
		}	
		#ContactFirstSection{
			padding: 100px 200px 50px 200px;
			min-height: 300px;	
		}
		#ContactFirstSection h6{
			font-family: 'Ubuntu', sans-serif;
			text-transform: uppercase;
			font-weight: bolder;
			font-size: 13px;
			color: #6E7C7C;
		}

		#ContactFirstSection h1{
			font-size: 70px;
			font-weight: 900;
			font-family: 'Josefin Sans', sans-serif;
		}
		#ContactFirstSection p{
			font-size: 20px;
		}
		#ContactFirstSection span{
			background-color: black;
			color: white;
			padding: 5px;
		}
		#ContactPagination{
			padding: 5px 200px 5px 140px;
			background-color:#EEEEEE ;
		}
		#ContactPagination ul{
			list-style-type: none;
			position: relative;
			top: 7px;
		}
		#ContactPagination ul li{
			display: inline;
			font-size: 12px;
			margin-left: 10px;
			text-transform: uppercase;
			font-family: 'Ubuntu', sans-serif;
			font-weight: 600;
			color: #6E7C7C;
		}
		#ContactPagination .Entity{
			font-size: 15px;
			color: black;
			font-weight: 600;
		}
		#ContactPagination a{
			text-decoration: none;
			color: black;
		}
		#ContactSecondSecton{
			padding: 100px 200px 50px 200px;
		}
		#ContactSecondSecton h5{
			font-family: 'Josefin Sans', sans-serif;
			font-weight: 700;
		}
		#ContactSecondSecton a{
			text-decoration: none;
		}
		#ContactThirdSection{
			padding: 100px 200px 50px 200px;
		}
		#ContactThirdSection .title-shape:after{
			content: '';
			position: absolute;
			display: block;
			top: 5%;
			left: -30px;
			background: url('https://www.bonoboz.in/wp-content/themes/bonoboz/assets/images/svg/shape-5.svg');
			width: 28px;
			height: 73px;

		}
		#ContactThirdSection h1{
			font-size: 70px;
			font-weight: 900;
			font-family: 'Josefin Sans', sans-serif;
		}
		#ContactThirdSection .col{
			padding: 10px;
		}
		#ContactThirdSection form{
			margin-top: 20px;
		}
		#ContactThirdSection form input{
			width: 400px;
			border: none;
			outline: none;
			border-radius: 0px;
			border-bottom:1px solid;
			margin-top: 10px;
			padding: 10px;
			font-family: 'Ubuntu', sans-serif;
		}
		#ContactThirdSection form textarea{
			width: 400px;
			font-family: 'Ubuntu', sans-serif;
			border: none;
			outline: none;
			border-radius: 0px;
			border-bottom:1px solid;
			margin-top: 10px;
			padding: 10px;
		}
		#ContactThirdSection img{
			width: 400px;
		}
		#ContactThirdSection .btn{
			margin-top: 20px;
			min-width: 170px;
			min-height: 45px;
			padding: 10px;
			font-family: 'Ubuntu', sans-serif;
			text-transform: uppercase;
			font-weight: bolder;
			letter-spacing: 1px;
			font-size: 12px;
			background-color: #0F52BA;
			border: none;
			border-radius: 45px;
			box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
			transition: all 0.3s ease 0s;
			cursor: pointer;
			outline: none;
			color: white;
		}
		#ContactThirdSection .btn:hover{
			background-color: #2EE59D;
			box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
			color: #fff;
			transform: translateY(-7px);	
		}
		#ContactFourthSection{
			padding: 100px 200px 50px 200px;
			background-color:#EEEEEE ;
		}
		#ContactFourthSection h1{
			font-size: 40px;
			font-weight: 800;
			font-family: 'Josefin Sans', sans-serif;
		}
		#ContactFourthSection h3{
			margin-top: 10px;
			font-weight: 700;
			font-family: 'Josefin Sans', sans-serif;	
		}
		#ContactFourthSection p{
			margin-top: 20px;
			width: 300px;
		}
		#ContactMap{
			background-color:#EEEEEE ;
			min-height: 200px;
		}
		#ContactMap iframe{
			border-radius: 10px;
			border: none;
			width: 100%;
			margin: 0px;
			min-height: 500px;
		}


		#ClinetFirstSection{
			padding: 100px 200px 50px 200px;
			min-height: 300px;	
		}
		#ClinetFirstSection h6{
			font-family: 'Ubuntu', sans-serif;
			text-transform: uppercase;
			font-weight: bolder;
			font-size: 13px;
			color: #6E7C7C;
		}

		#ClinetFirstSection h1{
			font-size: 70px;
			font-weight: 900;
			font-family: 'Josefin Sans', sans-serif;
		}
		#ClinetFirstSection p{
			font-size: 20px;
		}
		#ClinetFirstSection span{
			background-color: black;
			color: white;
			padding: 5px;
		}
		#ClientPagination{
			padding: 5px 200px 5px 140px;
			background-color:#EEEEEE ;
		}
		#ClientPagination ul{
			list-style-type: none;
			position: relative;
			top: 7px;
		}
		#ClientPagination ul li{
			display: inline;
			font-size: 12px;
			margin-left: 10px;
			text-transform: uppercase;
			font-family: 'Ubuntu', sans-serif;
			font-weight: 600;
			color: #6E7C7C;
		}
		#ClientPagination .Entity{
			font-size: 15px;
			color: black;
			font-weight: 600;
		}
		#ClientPagination a{
			text-decoration: none;
			color: black;
		}
		#ClientsSecondSection{
			padding: 50px 200px 100px 200px;
			min-height: 300px;		
		}
		#ClientsSecondSection .row{
			margin-top: 50px;
		}
		#ClientsSecondSection .col{
			margin-left: 5px;
			text-align: center;
		}
		#ClientsSecondSection img{
			width: 200px;
		}
		.back-to-top {
			position: fixed;
			bottom: 25px;
			right: 25px;
			display: none;
			border: none;
			outline: none;
			
		}
		.page-footer{
			padding: 30px 160px 0px 160px;
		}
		.page-footer hr{
			width: 80%;
		}
		hr{
			width: 80%;
			padding: 0px;
		}
		.page-footer ul{
			list-style-type: none;
			padding: 5px;
		}
		.page-footer ul li{
			margin-top: 5px;
			padding: 5px 5px 5px 0px;
		}
		.page-footer ul a{
			text-decoration: none;
			color: black;
			font-family: 'Ubuntu', sans-serif;
			font-weight: bold;
			font-size: 14px;
		}
		.page-footer ul a:hover{
			transition: 0.5s ease-in-out;
			color: #2541B2;
		}
		.page-footer .Footer-image{
			padding: 5px;
			width: 80px;
			margin-left: 20px;
			margin-bottom: 5px;
			transform: scale(2);
		}
		.page-footer h6{
			font-weight: bold;
			font-family: 'Ubuntu', sans-serif;
		}
		.page-footer p{
			font-family: 'Ubuntu', sans-serif;
			font-size: 14px;
			color: #6E7C7C;	
		}
		.page-footer h5{
			color: #6E7C7C;	
			font-weight: bolder;
			font-size: 14px;
		}
		.social-media ul li{
			display: inline;
			margin-left: 10px;
			overflow: hidden;
		}
		.social-media p{
			text-transform: capitalize;
			color: #6E7C7C;
		}
		.social-media ul a{
			padding: 10px;
			font-size: 20px;
			border-radius: 50%;
			text-decoration: none;
			color: black;
		}
		.social-media ul a:hover{
			transition: 1s ease-in-out;
			border: 1.5px solid;
			border-radius: 50%;
			color: #2541B2;
		}
		.footer-copyright .col{
			text-align: center;
		}
		.page-footer form input{
			min-width: 85%;
			color: #6E7C7C;	
			background-color: white;
			border: none;
			padding: 5px;
			border-bottom: 1px solid;
			outline: none;
		}
		.page-footer form button{
			
			padding: 5px;
			margin-left: -10px;
			background-color: transparent;
			border: none;
			border-bottom: 1px solid;
		}
		.page-footer form button:hover{
			transition: 1s ease-in-out;
			color: #2541B2;
		}
	}


